html, body {
  height: 100%;
}

body {
  font-family: $main_font;
  position: relative;
	margin: 0;
  width: 100%;
  color: rgb(32, 32, 32);
  font-weight: 400;
}

body svg {
  fill: currentColor;
}

.liner-gradient-beneath {
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;
  background-color: gray;
  z-index: 1;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  width: 100%;
  height: calc(100% + 100%);
  transform: translateZ(0);
  background-image: radial-gradient(
  circle at bottom,
  hsl(0, 72%, 65%),
  rgb(255, 255, 255)
  );
  background-size: 400% 400%;
  animation: gradientSmooth 60s ease-in-out infinite;
}

.liner-gradient {
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  will-change: transform, opacity;
  position: fixed;
  z-index: 2;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  width: 100%;
  height: calc(100% + 100%);
  background: linear-gradient(35deg, rgba(35, 166, 213,0.3),  rgba(238, 119, 82,0.3));
  background-size: 300% 300%;
  @include gradient($animation-duration: 40s);
}

.dark-theme {
  @include fadeIn();
}

.light-theme {
  @include fadeOut();
}

.dark-bg {
  background: rgba(4, 4, 15, 0.7);
}