@media screen and (max-width: 1440px) {

  .project-name-numeral {
    top: 10%;
  }

  .project-title-wrapper {
    top: 18%;
  }
}

@media  screen and (max-width: 1024px) { 
  .fixed {
    padding: 4% 7%;
  }

  .skills {
    font-size: calc(0.5vh + 0.5vh + 0.5vmin);
  }

  .title {
    font-weight: 900;
  }
  
  .introdaction-container {
    align-content: center;
    margin-bottom: calc(2vh + 2vw + 2vmin);
  }

  .light-text-span {
    @include bothThenmeClippedText($main_text_color, $dark-theme: false); 
    @include clipped-text-title-introdaxtion($margin: 0);
  }

  .dark-text-span {
    @include bothThenmeClippedText($main_text_color, $dark-theme: true);
    @include clipped-text-title-introdaxtion($margin: 0);
  }

  .subtitle {
    justify-content: center;
  }

  .projects-list {
    width: 100%;
  }

  .about {
    width: 100%;
  }

  .about-descr {
    width: 100%;
    font-size: calc(1vh + 1vw + 0.7vmin);
  }

  .project-wrapper {
    width: 100%;
  }

  .project-name {
    width: 100%;
  }
  .project-name-numeral {
    position: fixed;
    z-index: -1;
    justify-content: center;
    align-items: center;
  }

  .number {
    font-size: calc(70vw + 4vh + 2vmin);
    background-clip: unset;
    background-size: 0;
    -webkit-text-stroke: 0;
    &-light {
      color: rgba(255, 255, 255, 0.4);
    }

    &-dark {
      color: rgba(64, 64, 64, 0.5);
    }
  }

  .project-title-wrapper {
    max-width: 100%;
   
  }

  .project-title-wrapper {
    position: static;
  }

  .project-button-container {
    justify-content: center;
  }
}

@media  screen and (max-width: 768px) { 

  .about-descr {
    line-height: 35px;
  }

  .project-goals-item p {
    font-size: calc(1vw + 0.7vh + 0.7vmin);
    border-radius: 10px;
  }
}


@media  screen and (max-width: 425px) {

  .project-goals-item p {
    font-size: calc(1vw + 0.7vh + 0.7vmin);
    border-radius: 7px;
  }

  .fixed {
    padding: 5% 7%;
  }

  .projects-list-item {
    font-size: calc(2vw + 2.5vh + 1vmin);
  }

  .about {
    margin:  0;
    padding: 50px 0 0 0;

    &-title {
      margin: 0 0 5px 0;
    }

    &-descr {
      line-height: 20px;

      & > p {
        margin-top: 0;
        margin-bottom: calc(0.7vh + 0.7vmin);
      }
    }
  }

  .project-goals-item p {
    font-size: calc(1vw + 1vh + 0.7vmin);
    padding: calc(0.6vw + 0.3vh + 0.3vmin);
    font-weight: 500;
  }


  .header-logo-text {
    font-size: calc(4vh + 4vmin);
    letter-spacing: -1px;
  }

  .navigation ul li{
    font-size: calc(1vh + 1vh + 1.5vmin);
  }

  .light-text-span {
    @include bothThenmeClippedText( $txt-stroke: 0.5px $main_text_color, $dark-theme: false); 
  }

  .dark-text-span {
    @include bothThenmeClippedText($txt-stroke: 0.5px $main_text_color, $dark-theme: true);
  }

  .number {
    display: none;
  }

  .light-text-span {
    margin: 0 12px
  }

  .item-view_case {
    display: none;
  }

  .project-button-link  {
    padding: 4px 16px;
  }

  .about-title {
    width: 100%;
  }
}