$light_mode_color: rgb(255, 238, 235);
$main_text_color: rgb(64, 64, 64);
$main_text_color: #252525;

$main_font: 'Roboto', sans-serif;
$title_font: 'Koulen', cursive;
$subtitle-font:'Alumni Sans', sans-serif;

$subtitles-uppercase: uppercase;
$subtitles-font-size: 40px;
$subtitles-font-weight: 700;